@use '../typography' as *;
@use '../variables' as *;



// --iwdutil-color-panel
// --iwdutil-color-panel-header
// --iwdutil-color-close
// --iwdutil-color-close-hover

.panel {
	@include font-defaults;

	white-space: nowrap;

	position: absolute;
	background-color: var(--iwdutil-color-panel, #3c3f4c);
	color: var(--iwdutil-color-text, #c0c3cf);

	pointer-events: auto;

	z-index: 1;
}

.header {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 26px;
	padding: 4px;
	background-color: var(--iwdutil-color-panel-header, #373041);
	cursor: pointer;
	user-select: none;
}

.close {
	margin-left: 16px;
	color: var(--iwdutil-color-close, #c0c3cf);
	cursor: pointer;
}
.close:hover {
	color: var(--iwdutil-color-close-hover, #fcfcfc);
}

.body {
	display: flex;
	flex-direction: column;
	margin-top: 2px;
}
