@use '../typography' as *;
@use '../variables' as *;

.Button {
	@include font-defaults;

	display: inline-block;
	border: none;
	padding: 5px 10px;
	margin: 0;
	text-decoration: none;
	background-color: $blueC;
	color: $white;
	cursor: pointer;

	&:hover, &:focus-visible {
		background-color: $blueD;
	}

	&:focus-visible {
		outline: 1px solid $white;
	}

	&:active {
		background-color: $purpleD;
	}

	// Negative styles
	&.negative {
		background-color: $redB;

		&:hover, &:focus-visible {
			background-color: $redC;
		}

		&:active {
			background-color: $redD;
		}
	}

	// Disabled styles
	&.disabled {
		cursor: not-allowed;
		pointer-events: none;

		color: $grayB;
		background-color: $grayD;

		&:hover, &:focus-visible {
			background-color: $grayD;
		}

		&:active {
			background-color: $grayD;
		}
	}
}
