@use '../typography' as *;
@use '../variables' as *;
@use 'sass:color';

.CM {
	@include font-defaults;

	position: absolute;
	display: flex;
	flex-direction: column;
	background-color: color.adjust($waddonPanel, $alpha: -0.1);
	border: 2px solid color.adjust($waddonPanel, $lightness: -10%);
	cursor: default;
	z-index: 1000;
	white-space: nowrap;
	pointer-events: initial;

	&.embedded {
		border: none;
		background-color: $blackB;
		position: relative;
		white-space: nowrap;
		z-index: 50;
	}

	.item {
		display: block;
		min-height: calc(1em + 8px);
		line-height: calc(1em + 8px);
		padding: 1px 4px;
		text-align: left;
		color: $waddonText;

		&.label {
			/**/
		}

		&.button {
			cursor: pointer;

			&:hover {
				background-color: color.adjust(color.adjust($waddonPanel, $alpha: -0.1), $lightness: 10%)
			}
		}

		&.checkbox:first-child {
			margin-top: 4px;
		}
		&.checkbox:last-child {
			margin-bottom: 4px;
		}

		.checkbox-style {
			color: $waddonText;
		}

		&.expand {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			position: relative;

			&:hover {
				background-color: color.adjust(color.adjust($waddonPanel, $alpha: -0.1), $lightness: 10%)
			}

			.arrow {
				padding-left: 16px;
			}

			.content {
				position: absolute;
				left: 100%;
				top: -2px;
			}
		}
	}
}
