@use '../typography' as *;
@use '../variables' as *;
@use 'sass:color';

$marginBetweenItems: 2px;

.ItemTooltip {
	@include font-defaults;
	@include has-border-shadow;

	z-index: 999999;

	display: flex;
	flex-direction: column;
	position: absolute;
	margin-left: -4px;
	margin-top: -4px;
	background-color: color.change($blackB, $alpha: 0.95);
	pointer-events: none;
	padding: 10px;
	color: $white;
	align-items: center;
	line-height: 18px;
	max-width: 300px;
	text-align: 'center';
	white-space: nowrap;

	> *:not(:empty) {
		display: flex;
		flex-direction: column;
		align-items: center;

		// Add a margin-top to every element after a non-empty element
		& + * {
			margin-top: $marginBetweenItems;
		}
	}

	> *:empty {
		display: none;
	}

	.line {
		height: 2px;
		width: 100%;
		background-color: $grayD;
	}

	.space {
		height: 6px;
	}

	.smallSpace {
		height: 2px;
	}

	.type {
		color: $grayC;
	}

	.power {
		color: $greenA;
	}

	> .implicitStats {
		width: 100%;
		color: $grayB;

		> * + * {
			margin-top: $marginBetweenItems;
		}

		.gainStat {
			color: $greenA;
		}

		.loseStat {
			color: $redB;
		}
	}

	> .stats {
		width: 100%;
		color: $grayB;

		> * + * {
			margin-top: $marginBetweenItems;
		}

		.gainStat {
			color: $greenA;
		}

		.loseStat {
			color: $redB;
		}

		.enchanted {
			color: $tealC; // TODO use !important ?
		}
	}

	.effects {
		color: $white;

		display: flex;
		flex-direction: column;
		align-items: center;
		white-space: normal;

		span {
			text-align: center;
		}
	}

	.faction {
		color: $grayC;
	}

	.high-level {
		color: $redB;
	}

	.material {
		color: $grayC;
	}

	.quest {
		color: $grayC;
	}

	.info {
		color: $grayC;
	}

	.damage {
		.gainDamage {
			color: $greenA;
		}

		.loseDamage {
			color: $redB;
		}
	}

	.description {
		color: $brownB;
		text-align: center;
		white-space: normal;
	}

	.worth {
		&.no-afford {
			color: $redB;
		}
	}

	.q0 {
		color: $qualityCommon;
	}
	.q1 {
		color: $qualityMagic;
	}
	.q2 {
		color: $qualityRare;
	}
	.q3 {
		color: $qualityEpic;
	}
	.q4 {
		color: $qualityLegendary;
	}
	.color-red {
		color: $redB;
	}

	.spellName {
		/**/
	}
	.name {
		/**/
	}
	.cd {
		/**/
	}
	.uses {
		/**/
	}
	.requires {
		/**/
	}
	.level {
		/**/
	}

}
