@use 'variables' as v;

@mixin font-defaults {
	font-family: bitty;
	line-height: 1.15;
	font-size: 16px;
}

// TODO move this somewhere else
@mixin has-border-shadow {
	box-shadow: 0 -2px 0 v.$black, 0 2px 0 v.$black, 2px 0 0 v.$black, -2px 0 0 v.$black;
}
@mixin scrollbar-defaults {
	scrollbar-color: v.$grayC v.$blackB !important;
	scrollbar-width: thin !important;

	&::-webkit-scrollbar {
		width: 16px;
	}

	&::-webkit-scrollbar-track {
		background-color: v.$blackB;
		-webkit-border-radius: 0px;
		border-radius: 0px;
	}

	&::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 0px;
		background: v.$grayC;
	}
}
