@use './typography' as *;
@use './variables' as *;

@font-face {
	font-family: 'bitty';
	src: local('bitty'), url('../../assets/fonts/bitty.ttf') format('truetype')
}

.StoryPanel {
	@include font-defaults;

	color: $waddonText;
	background-color: $waddonPanel;
	padding: 10px;
}
.StoryLabel {
	@include font-defaults;

	color: $grayB;
}
.ItemTooltipStory {
	display: flex;
	flex-direction: column;
	row-gap: 16px;

	> div {
		position: relative;
	}
}

:global {
	.hasBorderShadow {
		box-shadow: 0 -2px 0 #2d2136, 0 2px 0 #2d2136, 2px 0 0 #2d2136, -2px 0 0 #2d2136;
	}
}
