@use '../typography' as *;
@use '../variables' as *;
@use 'sass:color';

.ItemImage {
	width: 72px;
	height: 72px;
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
	margin: 4px;

	background-color: $blackD;
	&.noBackground {
		background-color: transparent;
	}

    // For dragging
	&.selected {
		background-color: color.change($blueA, $alpha: 0.1)
	}

	.quantity {
        @include font-defaults;

		left: 6px;
		bottom: 3px;
		position: absolute;
		color: $white;
		filter: drop-shadow(0px -2px 0px $blackD)
		drop-shadow(0px 2px 0px $blackD)
		drop-shadow(2px 0px 0px $blackD)
		drop-shadow(-2px 0px 0px $blackD);
		-moz-filter: drop-shadow(0px -2px 0px $blackD)
		drop-shadow(0px 2px 0px $blackD)
		drop-shadow(2px 0px 0px $blackD)
		drop-shadow(-2px 0px 0px $blackD);
		user-select: none;

        &.eq {
            color: $yellowA;
        }
        &.new {
            color: $greenA;
        }
	}

    // No cursor for fully empty slots
	&.empty {
		cursor: default;
	}

    // Still show a cursor for these slots, since the placeholder sprite can be brightened on hover
	&.show-default-icon {
        .icon {
            opacity: 0.5;
            background-image: url('https://play.isleward.com/images/uiIcons.png') !important;
        }

        &[slot="head"] 		.icon {
            background-position: -0px -448px;
        }

        &[slot="neck"] 		.icon {
            background-position: -64px -448px;
        }

        &[slot="chest"] 	.icon {
            background-position: -128px -448px;
        }

        &[slot="hands"] 	.icon {
            background-position: -192px -448px;
        }

        &[slot="finger-1"] .icon, &[slot="finger-2"] .icon, &[slot="finger"] .icon {
            background-position: -256px -448px;
        }

        &[slot="waist"] 	.icon {
            background-position: -320px -448px;
        }

        &[slot="legs"] 		.icon {
            background-position: -384px -448px;
        }

        &[slot="feet"] 		.icon {
            background-position: -448px -448px;
        }

        &[slot="trinket"] 	.icon {
            background-position: -448px -384px;
        }

        &[slot="oneHanded"] .icon {
            background-position: -384px -384px;
        }

        &[slot="offHand"] 	.icon {
            background-position: -192px -384px;
        }

        &[slot="tool"] 		.icon {
            background-position: -256px -384px;
        }

        &[slot^="rune"] 	.icon {
            background-position: -320px -384px;
        }

        &[slot^="quick"] 	.icon {
            background-position: -128px -384px;
        }

    }
}

.icon {
	width: 64px;
	height: 64px;
	position: absolute;
	left: 4px;
	top: 4px;

	&.dropshadow {
		filter: brightness(100%)
			drop-shadow(0px -4px 0px $blackD)
			drop-shadow(0px 4px 0px $blackD)
			drop-shadow(4px 0px 0px $blackD)
			drop-shadow(-4px 0px 0px $blackD);

		&:hover {
			filter: brightness(160%)
				drop-shadow(0px -4px 0px $blackD)
				drop-shadow(0px 4px 0px $blackD)
				drop-shadow(4px 0px 0px $blackD)
				drop-shadow(-4px 0px 0px $blackD);
		}
	}

	&:not(.dropshadow):hover {
		filter: brightness(160%)
	}
}

// Quality/Unusable Borders

.ItemImage.quality-border,
.ItemImage.quality-bottom {
    &:before {
		content: '';
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		border-width: 5px;
		border-style: solid;
	}

	&.quality-0:before {
		border: none;
	}
	&.quality-1:before {
		border-color: $greenC;
	}
	&.quality-2:before {
		border-color: $blueD;
	}
	&.quality-3:before {
		border-color: $purpleC;
	}
	&.quality-4:before {
		border-color: $orangeD;
	}
}

.ItemImage.quality-bottom {
	&:before {
		border-width: 0px 0px 5px 0px;
	}
}

.ItemImage.quality-background, .ItemImage.unusable-background.no-equip {
    &:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }

    .icon {
        filter: brightness(100%)
                drop-shadow(0px -4px 0px $blackD)
                drop-shadow(0px 4px 0px $blackD)
                drop-shadow(4px 0px 0px $blackD)
                drop-shadow(-4px 0px 0px $blackD);

		&:hover {
			filter: brightness(160%)
                    drop-shadow(0px -4px 0px $blackD)
                    drop-shadow(0px 4px 0px $blackD)
                    drop-shadow(4px 0px 0px $blackD)
                    drop-shadow(-4px 0px 0px $blackD);
		}
    }

    &.quality-1:before {
		background-color: $greenC;
	}

	&.quality-2:before {
		background-color: $blueD;
	}

	&.quality-3:before {
		background-color: $purpleC;
	}

	&.quality-4:before {
		background-color: $orangeD;
	}

	&.unusable-background.no-equip:before {
		background-color: $redD;
	}
}

.ItemImage.unusable-border.no-equip,
.ItemImage.unusable-top.no-equip {
	&:after {
		content: '';
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		border-width: 5px;
		border-style: solid;
		border-color: $redD;
		pointer-events: none;
	}
}

.ItemImage.unusable-top.no-equip {
	&:after {
		border-width: 5px 0px 0px 0px;
	}
}

// Fix for when quality is "border" and unusable is "border" or "top"
.ItemImage.quality-border.unusable-top,
.ItemImage.quality-border.unusable-border {
    &:after {
        top: 5px;
        left: 5px;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
    }
}
